@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
    --clr-desaturated-red: hsl(0, 36%, 70%);
    --clr-soft-red:  hsl(0, 93%, 68%);
    --clr-dar-grayish-red: hsl(0, 6%, 24%);

    --clr-red-text: rgb(200, 154, 154);

    --clr-linear-one: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    --clr-linear-two: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

    --fw-light: 300;
    --fw-normal: 400;
    --fw-extra-bold: 600;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::placeholder {
    color: var(--clr-red-text);
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 62.5%;
    background-color: lightgray;
   
}

.container {
    width: 375px;
    max-width: 100%;
    margin: 100px auto;
    background: hsl(0, 100%, 98%);
}



header {
    background-color: #fff;
    padding: 3em;
}
header img {
    width: 100px;
    height: 20px;
}
.hero {
    background-image: url('images/hero-mobile.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
    object-fit: fill;
}


.content {
    text-align: center;
    padding: 3em;
}

.content h1 {
    font-size: 2rem;
    font-weight: var(--fw-light);
    color: var(--clr-red-text);
}
.content span {
    display: block;
    font-weight: var(--fw-extra-bold);
    color: black;
}
.content h1, span {
    text-transform: uppercase;
    letter-spacing: 5px;
}
.content p {
    margin: 1.5em 0;
    color: var(--clr-red-text);
    font-size: 1.2em;
    line-height: 1.7;
}



.input__frame {
    position: relative;
    border: 1px solid var(--clr-red-text);
    height: 45px;
    border-radius: 30px;
}
.input__email {
    position: absolute;
    left: 0;
    top: 12px;
    border: none;
    background-color: transparent;
    text-indent: 20px;
    color: var(--clr-red-text);
}
.input__email:focus {
    outline: none;
}
.btn {
    position: absolute;
    top: 0;
    right: 0px;
    width: 65px;
    height: 43px;
    border-radius: 30px;
    border: none;
    background-image: var(--clr-linear-two);
    cursor: pointer;
}



.error-message {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    visibility: hidden;
}

.error-message img {
    width: 20px;
    height: 20px;
    margin-right: .5em;
}
.success-message {
    visibility: hidden;
}
.active {
    visibility: visible;
}

.success-message p{
    margin-top: -3em;
}

@media screen and (min-width: 1000px){
    
    .container {
        
        width: 1440px;
        max-width: 100%;
        background-image: url('images/bg-pattern-desktop.svg');
        
        display: grid;
        grid-template-columns: 1.4fr 1fr;
        grid-template-rows: 100px auto;
    }

    header {
        background-color: transparent;
        margin: 3em 0em 0em 14em;

        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    header img {
        width: 160px;
        height: 32px;
    }

    .hero {
        all: unset;
        grid-column: 2 / 3;
        grid-row: 1 / 3;

        background-image: url('images/hero-desktop.jpg');
        background-repeat: no-repeat;
        background-position: top;
        height: 800px;
    }

    .content {
        grid-column: 1 / 2;
        grid-row: 2 / 3;

        margin: 8em 14em 0em 14em;
        padding-bottom: 0;
    }

    .content h1 {
        font-size: 4rem;
        text-align: left;
    }

    .content h1, span {
        font-weight: var(--fw-light);
        letter-spacing: 7px;
    }

    .content p {
        margin: 1.5em 0;
        text-align: left;
        font-size: 1rem;
    }

    .input__email {
        font-size: 1rem;
    }

    .success-message p{
        text-align: center;
    }

}